<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.cascade.test.mapper.CommodityMapper">
	<!-- 商品 -->
	<resultMap type="commodity1" id="commodityMap">
		<id property="fdId" column="fd_id" />
		<result property="fdName" column="fd_name" />
		<result property="fdPrice" column="fd_price" />
		<result property="fdDescribe" column="fd_describe" />
		<result property="fdReserve" column="fd_reserve" />
	</resultMap>
	
	<select id="getCommodityById" resultMap="commodityMap">
		select * from g_commodity where fd_id = #{fdId}
	</select>
	
</mapper>