<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置别名 -->
	<typeAliases>
		<typeAlias alias="commodity1" type="mybatis.cascade.test.po.Commodity"/>
		<typeAlias alias="orderDetail1" type="mybatis.cascade.test.po.OrderDetail"/>
		<typeAlias alias="orders1" type="mybatis.cascade.test.po.Orders"/>
		<typeAlias alias="user1" type="mybatis.cascade.test.po.User"/>
		<typeAlias alias="orderItem1" type="mybatis.cascade.test.po.OrderItem"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
				<property name="autoCommit" value="false"/>
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true" />
				<property name="username" value="root" />
				<property name="password" value="Manager123" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="mybatis.cascade.test.mapper"/>
	</mappers>
</configuration>